<div id="minterpress-app-nft-container">
    <div class="md:tzmp-grid tzmp-grid-cols-4 tzmp-gap-7" >
        <div class="tzmp-col-span-3" >
            {% include 'pages/my-nfts/main.twig' %}
        </div>
        <aside class="tzmp-cols-span-1">
            {% include 'pages/my-nfts/aside.twig' %}
        </aside>
    </div>
</div>