<div data-minterpress-module="dialog">
        <button class="button button-secondary tzmp-btn-outline" data-dialog="trigger">
            Sign out of wallet
        </button>
        {% include 'pages/settings/sign-out-dialog.twig' %}
</div>
