<div class="{{ hidden ? 'tzmp-sr-only' : 'tzmp-flex tzmp-mb-1' }}">
    <label for="{{ for }}" class="tzmp-font-bold">
        {{ text }}
    </label>
    {% if helperText %}
        <p class="tzmp-ml-1">{{ helperText }}</p>
    {% endif %}
</div>