<header class="tzmp-border-b tzmp-border-gray-600 tzmp-px-6 tzmp-flex tzmp-justify-between tzmp-items-center">
    <h3 class="tzmp-py-5 tzmp-font-robotoMono tzmp-text-xl tzmp-text-black">{{ headingText }}</h3>
    {% if rightElement %}
        {% include rightElement %}
    {% endif %}
</header>
