<div data-minterpress-module="dialog">
        <button type="button" class="button-primary tzmp-btn-full" data-dialog="trigger" data-input-copy="trigger">
            Create new gallery +
        </button>
        {% include 'pages/galleries/create-dialog.twig' %}
</div>
